#root {
  min-height: 100vh; 
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: black; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: #ffd700;
  font-family: "Impact", "Arial Black", sans-serif;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1280px;
  background-color: black;
  color: #ffd700;
  font-family: "Impact", "Arial Black", sans-serif;
  text-align: center;
  padding: 2rem;
}

.app-title {
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-shadow: 2px, 2px 0 #000, 4px 4px 0 #ffcc00;
}

.question-card,
.score-card {
  background-color: #111;
  border: 3px solid #ffd700;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  color: #ffd700;
}

.question-card h3,
.question-card h5 {
  text-shadow: 1px 1px #000;
}

button.btn-primary {
  background-color: #ffd700;
  color: black;
  font-weight: bold;
  border: none;
}

button.btn-primary:hover {
  background-color: #ffcc00;
}

.options .form-check-input:checked {
  font-weight: bold;
  cursor: pointer;
}


.question-card,
.score-card {
  flex: 1;                  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  width: 90%;             
  max-width: 600px;         
  background-color: #111;
  border: 3px solid #ffd700;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

@media (max-height: 700px) {
  .question-card {
    padding: 1rem;
  }
}

.options .form-check {
  display: flex;          
  align-items: center;      
  margin-bottom: 0.5rem;   
}

.options .form-check-input {
  margin-right: 0.5rem; 
}

.options .form-check-label {
  margin: 0;      
}